@keyframes cey {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}
.cey {
  animation-name: cey;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

@keyframes fromTopShow {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

@keyframes fromTopHide {
  from {
    opacity: 1;
    transform: translate(0, 0%);
  }
  to {
    opacity: 0;
    transform: translate(0, -100%);
  }
}

@keyframes durationCounter {
}

.from-top-show {
  animation-name: fromTopShow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.from-top-hide {
  animation-name: fromTopHide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.duration-counter {
  animation-name: durationCounter;
  animation-duration: 0;
  animation-delay: 2s;
}

.menu-collepse {
  max-height: 100%;
}
